# Core Django
Django==4.2.16   # LTS, last version with Python 3.9 support
asgiref==3.7.2
sqlparse==0.5.1
tzdata==2024.1

# Database
dj-database-url==1.3.0
psycopg2-binary==2.9.9

# API & REST framework
djangorestframework==3.14.0
django-cors-headers==4.3.1

# Utils
click==8.1.8
attrs==23.2.0
charset-normalizer==3.3.2
idna==3.7
urllib3==2.1.0
certifi==2023.11.17

# Security
cryptography==42.0.5
cffi==1.16.0
pycparser==2.21

# Async + HTTP
aiohttp==3.8.6
aiosignal==1.3.1
async-timeout==4.0.3
multidict==6.0.5
yarl==1.9.4

# Other
beautifulsoup4==4.12.3
anyio==4.3.0
